{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'orderpiqrApp/css/login.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'orderpiqrApp/img/favicon.png' %}">
    <title>{% trans 'login' %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs@3.0.0/dist/fp.min.js"></script>

</head>
<body>
<div class="page-container">
    <div class="form-div">
        <form id="login-form" class="login-form form_main" role="form" method="POST">
            <p class="heading">
                <img src="{% static 'orderpiqrApp/img/favicon.png' %}" alt="Orderpiqr Logo" class="login-logo">
                {% trans "Orderpiqr Login" %}
            </p>
            {% csrf_token %}
            <div class="login-form-contents">
                {{ form.as_p }}
            </div>
            <button class="login-button" role="button">{% trans "Login" %}</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    FingerprintJS.load().then(fingerprintJS => {
        fingerprintJS.get().then(result => {
            // Get the generated device fingerprint
            const deviceFingerprint = result.visitorId;
            // Add the fingerprint to the form before submission
            const form = document.getElementById('login-form');
            const fingerprintInput = document.createElement('input');
            fingerprintInput.type = 'hidden';
            fingerprintInput.name = 'device_fingerprint';  // The name of the hidden field
            fingerprintInput.value = deviceFingerprint;
            // Append the fingerprint to the form
            form.appendChild(fingerprintInput);
        });
    });
</script>

</body>
</html>