{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'orderpiqrApp/stylesheets/login.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>{% trans 'login' %}</title>
</head>
<body>
<div class="page-container">
    <div class="form-div">
        <form class="login-form form_main" role="form" method="POST">
            <p class="heading">Orderpiqr Login</p>
            {% csrf_token %}
            <div class="login-form-contents">
                {{ form.as_p }}
            </div>
            <button class="login-button" role="button">Login</button>
        </form>
    </div>
</div>
</body>
</html>