{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello,{% endblocktrans %}

{% blocktrans %}You're receiving this email because you requested a password reset for your OrderPiqR account.{% endblocktrans %}

{% blocktrans %}Please click the link below to set a new password:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}This link will expire in 24 hours.{% endblocktrans %}

{% blocktrans %}If you didn't request this password reset, you can safely ignore this email. Your password will not be changed.{% endblocktrans %}

{% blocktrans %}Best regards,{% endblocktrans %}
{% blocktrans %}The OrderPiqR Team{% endblocktrans %}
{% endautoescape %}
