body {
    background-color: #f2f2f2;
    font-family: gill sans, sans-serif;
}

.page-container {
    width: 99%;
    height: 99%;
    position: absolute;
}

.login-logo {
    max-width: 75px;
    max-height: 75px;
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.form_main {
    min-width: 50%;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
    border-radius: 5px;

}

.form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: #118f11;
    transform: rotate(45deg);
    left: -180px;
    /*bottom: 30px;*/
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 549;
    margin: 5px 0 10px 0;
    z-index: 2;
}

.login-form-contents {
    z-index: 2;
}

.login-button {
    z-index: 2;
    position: relative;
    border: none;
    background-color: #118f11;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 1%;
    margin-top: 3%;
    padding: 2% 4% 2% 4%;
    border-radius: 1%;
}

.login-button:hover {
    background-color: #f0ba0a;
}

.forgotLink {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: rgb(201, 67, 67);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}


@media (max-width: 1000px) {
    .form-div {
        margin-top: 25%;
    }

    .form_main {
        min-width: 80%; /* Adjust the width to be bigger for mobile */
        padding: 20px; /* Reduced padding for better fitting */
    }

    .heading {
        font-size: 1.8em; /* Smaller heading for better mobile fit */
    }

    /*.login-form-contents {*/
    /*    width: 100%; !* Ensure inputs take up full width *!*/
    /*}*/
    .login-form-contents input {
        width: 100%; /* Make inputs full width */
        padding: 15px; /* Increase input height */
        font-size: 1.2em; /* Larger font size for better readability */
    }

    .login-button {
        padding: 15px; /* Make button taller */
        font-size: 1.5em; /* Larger button text */
        border-radius: 5px;
        width: 80%;
    }
}

.footer-note {
    text-align: center;
    margin-top: 20px;
    color: grey;
    font-size: 0.6em;
}