{% extends 'admin/change_list.html' %}
{% load static i18n %}
{% block content %}
    <style>
        #content-main {
            width: 100%;
        }
    </style>
    <div class="container">
        <h2 class="page-title">{% trans "Upload Order CSV/XLSX" %}</h2>
        <p class="instructions">
            {% trans "Please upload a CSV or XLSX file that includes the following columns:" %}
            <strong>order_code, product_code, quantity</strong>.
            {% trans "With each row representing a product/pick. The order code is repeated for each product" %}
            {% trans "Or manually add a product using the button at the top right of the page." %}
        </p>

        <form method="POST" enctype="multipart/form-data" class="upload-form">
            {% csrf_token %}
            <div class="form-group">
                {{ order_upload_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Upload File" %}</button>
        </form>

        {{ block.super }}
    </div>
{% endblock %}
